.masonry {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  justify-content: center;
}

/* .masonry-brick {
  flex: auto;
  min-width: 150px;
  margin: 0 8px 8px 0;
  cursor: pointer;
} */
.masonry {
  column-count: 4;
  column-gap: 10px;
}
.wrapper {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-column-end: span 2;
}
.col:nth-child(4n + 1):nth-child(4n + 2) {
  grid-row-end: span 2;
}
.col--2x {
  grid-row-end: span 2;
}
.col--3x {
  grid-row-end: span 3;
}
img {
  max-width: 100%;
  display: block;
  grid-row: 1 / -1;
  grid-column: 1;
}
/* .masonry-brick:nth-child(4n + 1) {
  width: 250px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 2) {
  width: 325px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 3) {
  width: 180px;
}
.masonry-brick:nth-child(4n + 1):nth-child(4n + 4) {
  width: 300px;
} */
.wrapper {
  position: relative;
}
.heart-shape {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgb(250, 66, 66);
  cursor: pointer;
}
.heart-shape:before,
.heart-shape:after {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(250, 66, 66);
}
.heart-shape:before {
  bottom: 0px;
  left: -5px;
}
.heart-shape:after {
  top: -5px;
  right: 0px;
}
.close {
  position: absolute;
  right: 18px;
  top: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  top: 10px;
  content: " ";
  height: 25px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.add {
  color: white;
  background: rgba(0, 255, 0, 0.6);
  position: absolute;
  bottom: 12px;
  width: 91%;
  padding: 0.5rem;
  transition: 0.3s;
  /* display: none; */
}
header {
  text-align: center;
  padding: 1rem 0;
}
header a {
  padding: 1rem;
  text-decoration: none;
}
